html {
  font-size: 62.5%;
}
html, body, .app {
  height: 100%;
}

.app {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
}
.title {
  font-size: 3.0rem;
}
.sum-box {
  box-sizing: border-box;
  float: right;
  padding: 8px;
}
.text-box {
  clear: both;
  box-sizing: border-box;
  padding: 8px;
  padding-top: 0px;
  width: 100%;
  height: 80%;
}
.heading {
  font-size: 2.0rem;
}
.text {
  box-sizing: border-box;
  width: 100%;
  height: 90%;
}
